<div class="header1">
    <div class="header2">
        <h1>Curriculum Vitae</h1>
        <nav>
            <a href="#">Formation</a>
            <a href="#">Expérience</a>
            <a href="#">Centre d'intérêts</a>
        </nav>
    </div>
</div>